body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 300px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  width: 320px;
}

button:hover {
  background-color: #0056b3;
}

#responseMessage {
  margin-top: 20px;
  text-align: center;
}